body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin: 0;
    height: 100vh; 
}

.calculator {
    width: 80vw; 
    max-width: 500px; 
    padding: 20px;
    color: white;
    background-color: black;
}

.inputResults {
    text-align: right;
    grid-area: inputArea;
    font-size: 2rem; 
}

textarea{
    text-align: right;
    height: 100px;
    width: 98%;
    border:none;
 }


.equalSign{
    grid-area: equalSign;
    width: 100%;  
    font-size: 1.5rem; 
    padding: 5px;
    background-color: orange;
}

.buttons{
    display: grid;
    height: auto;
    grid-template-areas: 
    'inputArea inputArea inputArea inputArea inputArea'
    '. . . . .'
    '. . . . .'
    '. . . . .'
    '. . . . equalSign'
    '. . . . equalSign';
    gap: 10px;
}

.numPad {
    width: 100%;  
    font-size: 1.5rem; 
    padding: 5px;
}


.operators{

}


